.hidden_map {
  position: absolute;
  height: 0px;
  overflow: hidden;

  .a3 {
    width: 1132px;
    height: 1688px;
  }
  .a4 {
    width: 602px;
    height: 912px;
  }

  *, .route-creating>.openlayers-container {
    height: 100%;
  }
  .ol-overlaycontainer-stopevent {
    display: none;
  }
}