{
  "env": {
    "development": {
      "presets": [
        "latest",
        "stage-0",
        "react"
      ],
      "plugins": [
        "transform-decorators-legacy",
        "typecheck"
      ]
    },
    "production": {
      "presets": [
        "latest",
        "stage-0",
        "react"
      ],
      "plugins": [
        "transform-decorators-legacy"
      ]
    }
  }
}
