.dashboard_menu_buttons {
  flex: 3 3 350px;
  margin: 10px;
  min-width: 350px;

  @media screen and (max-width: 744px) {
    min-width: 300px;
  }

  .card_container {
    .card_title {
      padding: 20px;
      padding-bottom: 5px;
      font-weight: bold;
    }
    .card_body {
      align-items: center;
      >button {
        margin: 5px;
        width: 100%;
        white-space: normal;

        &:hover {
          word-break: break-word;
        }
      }
      >* {
        margin: 5px;
        width: 100%;
        &>button {
          width: 100%;
        white-space: normal;

        &:hover {
          word-break: break-word;
        }
        }
      }
    }
  }
}