.ets-page-wrap.default-registry {
  overflow: hidden;
  height: 100%;
  padding-right: 0px;

  .pagination {
    margin: 0;
    margin-top: 15px
  }

  .data-table {
    display: flex;
    flex-direction: column;

    >* {
      flex: 1 1;

      &.header_container {
        padding-right: 15px;
      }

      &.table_container {
        margin-top: 15px;
        height: 100%;
        width: 100%;
        overflow: auto;

        &.open_filter {
          .griddle {
            transform: translateY(400px);
          }
        }

        .filter_container_wrap {
          position: relative;

          .filter-container {
            margin-top: 0;
            position: fixed;
            height: 400px;
            width: calc(100% - 35px);
            z-index: 2;

            .filter-rows {
              height: calc(100% - 75px);
              align-self: auto;
              overflow: auto;
            }
          }
        }

        .griddle {
          margin-top: 10px;
          height: 100%;
          will-change: transfrom;
          transition: transform 0.5s;

          .griddle-container {
            overflow: inherit;
            margin-bottom: 0px;
          }

          .griddle-body {
            margin-top: 0px;
            margin-bottom: 0px;
          }
        }
      }
      
    }
  }
}