.info_card_wrap {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  max-width: 350px;
  pointer-events: none;

  @media screen and (max-width: 729px) {
    top: 100%;
    width: 100%;
    max-width: initial;
  }

  .card_container.info_card {
    margin-bottom: 30px;
    pointer-events: all;
    box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.3);

    border: 1px solid black;
    transform: translate(calc(100% + 20px));
    width: 100%;

    @media screen and (max-width: 729px) {
      transform: translate(0, 20px);
    }

  }
}
