.order, .program-remark, .program-object, .table-percent {
  & .griddle .griddle-container{
    height: auto;
  }
  & .griddle-body table tbody tr.selected-row > td{
    background-color: $colorHalfGreen !important;
  }
}

.width-fuel-report-small {
  font-size: 10px !important;
  padding: 4px !important;
  max-width: 66px !important;
  min-width: 66px !important;
  width: 66px !important;
}
.width-fuel-report-large {
  font-size: 12px !important;
  padding: 4px !important;
  max-width: 90px !important;
  min-width: 90px !important;
  width: 90px !important;
}
.width-fuel-report-xlarge {
  font-size: 12px !important;
  padding: 4px !important;
  max-width: 150px !important;
  min-width: 150px !important;
  width: 150px !important;
}

th.width-fuel-report-small {
  text-align: center !important;
}
th.width-fuel-report-large {
  text-align: center !important;
}
th.width-fuel-report-xlarge {
  text-align: center !important;
}


.date-table-input {
  .griddle-body {
  .rw-calendar-popup {
    table {
      td, th {
        padding: 0px;
      }
      border-collapse: initial;
      border-spacing: 0px;
    }
  }
    height: 350px;
    tbody {
      tr {
        &:hover > td {
          background-color: #ECEFF1 !important;
          color: white !important;
        }
        &.selected-row > td {
          background-color: #CFD8DC !important;
          color: white !important;
        }
      }

      & .chart-datepicker{
        position: relative;
        top: -5px;
      }
      & .form-control{
        position: relative;
        top: 20px;
      }
    }
  }
}

.overflow-visible {
  overflow-x: visible;
}