.width-fuel-report-small {
  font-size: 10px !important;
  padding: 4px !important;
  max-width: 66px !important;
  min-width: 66px !important;
  width: 66px !important;
}
.width-fuel-report-large {
  font-size: 12px !important;
  padding: 4px !important;
  max-width: 90px !important;
  min-width: 90px !important;
  width: 90px !important;
}
.width-fuel-report-xlarge {
  font-size: 12px !important;
  padding: 4px !important;
  max-width: 150px !important;
  min-width: 150px !important;
  width: 150px !important;
}

th.width-fuel-report-small {
  text-align: center !important;
}
th.width-fuel-report-large {
  text-align: center !important;
}
th.width-fuel-report-xlarge {
  text-align: center !important;
}


.date-table-input {
  .griddle-body {
  .rw-calendar-popup {
    table {
      td, th {
        padding: 0px;
      }
      border-collapse: initial;
      border-spacing: 0px;
    }
  }
    height: 350px;
    tbody {
      tr {
        &:hover > td {
          background-color: #ECEFF1 !important;
          color: white !important;
        }
        &.selected-row > td {
          background-color: #CFD8DC !important;
          color: white !important;
        }
      }

      & .chart-datepicker{
        position: relative;
        top: -5px;
      }
      & .form-control{
        position: relative;
        top: 20px;
      }
    }
  }
}

.overflow-visible {
  overflow-x: visible;
}


.registry-new {
  &>.header {
    display: flex;
    justify-content: space-between;
    &>.buttons>button {
      margin: 5px;
    }
  }
  & .custom-table-container {
    border: none!important;
    overflow-x: auto;
    width: 100%;
    margin-bottom: 1pc;

    & .custom-data-table {
      margin-top: 10px;
      table-layout: auto;
      word-break: normal;
      
      [data-title^="date_"], [data-title="birthday"], [data-title="phone"] {
        width: 130px;
      }
      
      [data-title^="timestamp_"], [data-title$="_name"] {
        width: 150px;
      }
      
      [data-title="tk_operation_name"] {
        width: auto;
      }
      
      .rw-calendar-popup {
        table {
          td, th {
            padding: 0px;
          }
          border-collapse: initial;
          border-spacing: 0px;
        }
      }
      
      & .flex-row {
        display: flex;
      }
      
      & th {
        &>.th-container {
          display: flex;
          align-items: flex-end;
        }
        cursor: pointer;
        width: 100%;
        & .sortfield {
          &-hidden {
            visibility: hidden;
          }
        }
      }
      & thead {
        & tr>th {
          word-wrap: normal;
          width: 200px;

          &[data-title="number"] {
            white-space: nowrap;
          }
        }
      }
      
      & tbody {
        & .chart-datepicker{
          position: relative;
          top: -5px;
        }
        & .form-control{
          position: relative;
          top: 20px;
        }
        
        & tr {
          & td {
            vertical-align: top;
          }
          
          &:hover>td {
            background-color: $colorLightGreen;
            cursor: pointer;
            color: white;
          }
          &.selected>td,.checked>td {
            background-color: $colorGreen;
            cursor: pointer;
            color: white;
          }
          &.checked>td {
            background-color: $colorHalfGreen;
          }
        }
      }
    }
  }
}
tr.bold {
  font-weight: 700;
}