@import './vendor.scss';
@import './variables.scss';
@import './data-table.scss';
@import './react-widgets-new.scss';
@import './utils.scss';
@import './reports.scss';
@import './media.scss';
@import './user-notifications.scss';
@import './version-notifications.scss';
@import './mission.scss';
@import './duty-mission.scss';

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Roboto-Regular.ttf');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

html, body {
  height: 100%;
  color: #000;
}
.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.app-content-absolute {
  position: absolute;
  height: 100%;
  width: 100%;
}

.app-content {
  justify-self: flex-start;
  flex: 1 1 auto;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
}

.car_info_block {
  border: medium none;
  box-shadow: 0 1px 3px rgba(0,0,0,.1);
  background: #ffffff;
  padding: 0px 5px;
  border-radius: 3px;
}

.flex_basis_100 {
  flex-basis: 100%;
}

.map_info-title_container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.geoobject_title>div {
    font-size: 18px;
    text-align: center;

    &:nth-of-type(n+1) {
      margin-right: 5px;
    }
    &::last-child {
      margin-right: 0;
    }
  }

  >div {
    font-size: 24px;
    &.car_info-gov_number {
      display: flex;
      justify-content: center;
      white-space: pre-wrap;
    }
  }
}

.selected_geoobjects-container {
  margin: 5px 0px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #7e7e7e;

  .geoobject_one_data {
    border-bottom: 1px solid #d7d7d7;
    margin-bottom: 10px;
    cursor: pointer;

    >.title {
      margin-top: 5px;
      display: flex;
      justify-content: space-between;
    }
  }
}

.car_info-close {
  display: flex;
  justify-content: flex-end;
  >div {
    cursor: pointer;
    transition: transform 0.5s, background-color 0.5s;
    will-change: transform, background-color;
    >span {
      position: relative;
      transform: translateY(-6%);
    }
    &:hover {
      transform: scale3d(1.1, 1.1, 1);
      background-color: red;
      color: white;
    }
  }
}

.all-width {
  width: 100%;
}

.car_info-main_data_container {
  >.car_info_block {
    padding: 10px;
  }

  .legend-color {
    display: flex;
    align-items: center;
    font-weight: 200;
    >div {
      margin: 0px 2px;
    }
  }
  .car_info-legend-color {
    width: 10px;
    height: 10px;
    border-radius: 5px;

    &.red {
      background-color: rgb(255, 0, 51);;
    }
    &.green {
      background-color: rgb(102, 204, 0);;
    }
  }
}

.car_info_block {
  display: flex;
  &.column {
    flex-direction: column;
  }
  >div {
    flex: 1 1 auto;
  }
  >div.car_info-img {
    flex: 3 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &.tab-data {
    margin-top: 10px;
  }
}

.car_info-attributes {
  font-weight: 200;
  margin: 5px 0;

  >div {
    margin: 5px;
  }
}

.car_info-charts {
  margin-top: 10px;
  .car_info-chart_buttons_row {
    display: flex;
    >button {
      flex: 1 1 auto;
      &:first-child {
        margin-right: 2.5px;
      }
      &:last-child {
        margin-left: 2.5px;
      }
    }
  }
}

.car_info-attr_title {
  color: #666;
}

.chart-select_raw {
  position: relative;
  transform: translate3d(20px, -90px, 0);
  font-weight: 200;
  cursor: pointer;
  >span {
    margin: 5px;
  }
}

.car_info-event_table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 2px;
  margin-bottom: 30px;
  font-weight: 200;
  text-align: center;

  thead {
    background: #555;
    color: white;
    tr {
      td {
        width: 33%;
        padding: 4px;
      }
    }
  }
  tbody {
    td {
      cursor: pointer;
      border-bottom: 1px solid #DDD;
      padding: 4px;
    }
  }
}

button {
  &[disabled=''] {
    .car_info-main_block-button {
      &.inverse {
        color: inherit;
      }
    }
  }
  .car_info-main_block-button  {
    border-radius: 9px;
    padding: 2px;
    margin-right: 5px;
    &.inverse {
      background-color: #eee;
      border: 1px solid #ccc;
      color: #000;
    }
  }
}

.car_info-track_date_title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #d7d7d7;
  align-items: baseline;
  padding: 5px;
  font-weight: 200;
  input {
    margin-right: 5px;
  }
}
.car_info-toggle_for_today {
  cursor: pointer;

  &.disabled {
    color: rgba(0, 0, 0, 0.5);
    cursor: not-allowed;
    pointer-events: none;
  }
}
.car_info-track_date_control {
  padding: 5px 0px;
}

.car_info-distance {
  font-weight: 200;
  padding: 5px 5px;
}

.car_info-sensors-list-container {
  padding: 5px;

  .sensors-type-list {
    margin-bottom: 5px;
    .type-title {
      font-weight: 400;
      font-style: italic;
    }
    .sensors-list {
      padding: 5px 20px;
      .sensor-option {
        font-weight: 200;
        cursor: pointer;
        &.disabled {
          cursor: not-allowed;
          color: rgba(0, 0, 0, 0.5);
        }
        >input {
          cursor: inherit;
        }
      }
    }
  }
}

.car_info-sensors_legend {
  display: flex;
  flex-direction: column;
  margin: 5px 0px;
  font-weight: 200;

  .sensors_legeng_option {
    display: flex;
    align-items: center;
    cursor: default;
  }
}

.default_cursor {
  cursor: default;
}

// NOTE Почему-то численное значение, переопределяемое в бутстрапе не делает текст жирным в некоторых браузерах.
h5 {
  font-weight: bold !important;
}

#container {
  width:100%;
  height:100%;
}

a {
  color: $colorLink;
}

body.application {
  background: #f2f2f2;
  padding: 60px 20px 0;
  padding: 0;
  margin: 0;

  > .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  div[class^="col-"] {
    padding-left: 5px;
    padding-right: 5px;
  }

  div[class^="col-"] div[class^="col-"] {
    padding-left: 15px;
    padding-right: 15px;
  }

  hr {
    border-color: #d7d7d7;
    margin: 10px 0;
  }
}

.btn, .btn-default {
  background-color: $colorButton;
  color: #fff;
  border: none;
  border-radius: 3px;
  box-shadow: none !important;

  &.disabled, &[disabled] {
    background-color: #ddd !important;
    color: $colorGray;
  }

  &.active {
    background-color: $colorGreen!important;
    color: #fff!important;
  }
  &:not(.disabled):not([disabled]):hover, &:focus{
    background-color: $colorGreenDarker;
    color: #fff;
  }
}
.btn-group .btn,
.btn-group .btn-default {
  border-radius: 0px;
}

.btn-primary {
  background-color: #000;
  color: #fff;
}

.btn-sm {
  padding: 5px 20px;
  font-size: 14px;
}

.company-switcher {
  width: 250px;

  &-label {
    position: absolute;
    top: 5px;
    font-size: 13px;
  }

  &-big {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    align-items: center;
    &-label {
      font-size: 20px;
    }

    &>div {
      width: 100%;
      font-size: 20px;
      max-width: 1000px;
    } 
  }

}

.small-table {
  th, td {
    font-size: 12px !important;
    padding: 4px !important;
    word-break: normal !important;
  }
}

.missions-list {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  &>.mission-data {
    display: flex;
    justify-content: space-between;
    align-items: end;
    &>div {
      width: 95%;
      & .mission-title {
        white-space: nowrap;
        display: block;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      & .mission-vehicle-info {
        color: #666;
      }
    }
  }
}

.no-pointer-events {
  pointer-events: none !important;
  cursor: default !important;
}

.not-allowed {
  cursor: not-allowed !important;
}

.car_info-track_player {
  padding: 5px 0px;
  >button {
    margin: 5px;
  }
}

.car-info-play-info {
  text-align: left;
  margin-top: 10px;
  padding: 0 5px;
  dt {
    float: left;
    width: 120px;
  }
}

.car_info-missions_list_container {
  padding: 5px;
  display: flex;
  flex-direction: column;
  .car_info_mission_container {
    display: flex;
    justify-content: space-between;
    font-weight: 200;
    margin: 5px 2px;

    .mission_title {
      cursor: pointer;
    }
    .mission_vehicle_info {
      color: #666;
    }
  }
}

.car-toolbar {
  display: flex;
}

.none-event {
  pointer-events: none;
  cursor: default;
}

.tool_bar-wrap {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  .tool_bar {
    position: relative;
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;

    .car_filters-container-wrap {
      position: relative;
      width: 100%;

      .car_filters-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        >span>.tool_bar-block {
          min-width: 0px;
          max-width: 310px;
        }
      }
    }

    .tool_bar-block {
      margin: 5px;
      pointer-events: all;
      display: inline-block;
      min-width: 175px;

      &.disabled {
        .legen_option, input { 
          cursor: not-allowed;
        }
        cursor: not-allowed;
      }
      &.active>.default_cube {
        background-color: #6a9e56;
        color: white;

        &.dark {
          background-color: #6a9e56;
          color: white;
        }
      }

      .default_cube {
        background: rgba(255, 255, 255, 1);
        box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.3);
        border-radius: 6px;
        padding: 6px 1pc;
        font-weight: 200;

        &.companies {
          padding: 6px 0 6px 1pc;
          >.legen_option {
            padding-right: 1pc;
          }
          >.car_block_legend>.legen_option {
            padding-right: 1pc;
          }
        }

        &.dark {
          background: rgba(0, 0, 0, 0.75);
          color: white;
        }

        &.map-car-filter {
          &>div {
            min-height: 48px;
          }
          padding: 0;

          .car_text_filter-container {
            display: flex;
            align-items: center;
            &.multi>div {
              min-width: 250px;
              &>*:nth-of-type(n + 2) {
                margin-top: 5px;
              }
            }
            .input_text_action-wrap {
              position: relative;
              color: black;
              .input_text_action {
                position: absolute;
                display: flex;
                align-items: baseline;
                &.show_tc {
                  transform: translate(-130%, -50%);
                }
                &.remove {
                  transform: translate(-110%, -50%);
                }
                background-color: white;
                padding: 5px;
                cursor: pointer;
                >*:nth-child(n + 2) {
                  margin-left: 5px;
                }
              }

            }
          }

          >div.button-toggle {
            min-width: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 10px;
            cursor: pointer;
            font-size: 20px;
            >.glyphicon{
              line-height: 48px;
            }
          }
        }

        &.flex-row {
          display: flex;
          align-items: center;
          &.multi {
            align-items: end;

            >div:nth-child(n + 2) {
              padding: 10px 0px;
            }
          }
          >div:nth-child(n + 2) {
            margin-right: 10px;
            padding: 5px 0px;
          }
          .form-group {
            margin: 0;
            width: 250px;
          }
        }
      }
    }
  }
}

.car_block_legend {

  &.left {
    margin-left: 5px;
  }
  
  &.fuel_leak {
    max-width: 300px;

    >div {
      display: flex;
      margin: 5px;
      align-items: center;

      >span {
        flex: 1 1 25px;
      }
      >div {
        flex: 8 1 auto;
      }
    }
  }

  &.companies {
    max-width: 300px;
    max-height: 150px;
    overflow-y: auto;
  }
}

.legen_option {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 2px 0;
  font-size: small;

  &.off {
    opacity: 0.5;
  }

  &.with_checkbox {
    >input {
      cursor: pointer;
      margin: 0 8px;
    }
  }

  .car_data-color {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 0 5px;

    &.line {
      border-radius: 0;
    }
    &.active {
      background-color: white;
    }
    &.in_move {
      background-color: #2ECC40;
    }
    &.stop {
      background-color: #563d7c;

    }
    &.parking {
      background-color: #f34b7d;
    }
    &.not_in_touch {
      background-color: #888888;
    }

    &.track_red {
      background-color: #f03;

    }
    &.track_green {
      background-color: #6c0;
    }

    &.geoobject_un_select {
      background-color: red;
    }

    &.geoobject_select {
      background-color: yellow;
    }

    &.geoobject_mission_select {
      background-color: #e67e22;
    }
  }
}

.form-control {
  height: 38px;
}

/**
  CHART
*/


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

/**
* TRACKING BTN ANIMATION
**/

.car-info {
  &-image {
    width: 250px;
    min-height: 100px;
  }
}

/** OPENLAYERS */
.openlayers-container {
  width:100%;
  height:100%;
  position:absolute;
}

.ol-zoom, .ol-zoom:hover {
  background: rgba(0, 0, 0, 0.75);;
  color: white;
  box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  top: -74px;
  width: 28px;
  position: relative;
  left: 20px;

  button {
    background-color: transparent;
  }
}

/** ETS TABLE */

.ets-table {
  width:100%;

  padding-top: 8px;
  table {
    width: 100%;
  }
  &-row {
    cursor:pointer;
    td {
      border:1px solid #ccc;
      padding:2px 5px;
      white-space: nowrap;
    }
    &.selected {
      background-color: #DEDEFF;
    }
  }
  &-header-cell {
    font-size: 12px;
    padding: 5px 5px;
    background-color: #eee;
    border: 1px solid #ccc;
  }
}

.some-header {
  font-size: 18px;
  line-height: 40px;
  z-index: 2;
}


.waybills-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;

  >* {
    margin-left: 10px;
    margin-bottom: 10px;
  }
}

.mission-reject-info-modal {
  min-width: 760px;
  width: 760px;
}

.modal-header {
  background-color: #e9f0f5;
  border: none;
}

.modal-content {
  border-radius: 0;
}

.modal-footer {
  background-color: #e9f0f5;
  border: none;
  #assign-to-waybill {
    text-align: left;
  }
}

.modal-backdrop.in {
  opacity: 0.7;
}

.form-control[disabled] {
  background-color: #f8f8f8;
}

.form-control {
  border-radius:0px !important;
  overflow: visible;
}

.taxi-calc-block  {
  margin-bottom: 50px;
  .form-group {
    margin-bottom: 0;
  }
  .ets-table {
    margin-top: 16px;
  }

  .taxes-result {
    float: right;
    div {
      display: inline-block;
      font-weight: bold;
    }
    .taxes-result-label {
      width: 180px;

      &-positive {
        color: green;
      }

      &-negative {
        color: red;
      }
    }
    .taxes-result-value {
      min-width: 91px;
    }

  }
}

.pointer {
  cursor: pointer;
}
.fontSize24 {
  font-size: 24px;
}

.pagination {
  z-index: 0;
  margin: 20px 0 0 0 !important;
}
.pagination-control {
  background: #4C4C4C !important;
  color: white !important;
}

.pagination-control.disabled {
  background: #EEE !important;
  color: #999 !important;
}

.griddle-container {
  thead {
    span.glyphicon.glyphicon-info-sign {
      margin-left: 5px;
    }
  }
}

.filter-container {
  line-height: normal;
  margin-top: 10px;
  width: 100%;
  font-size: 14px;
  background-color: #eee;
  border: 1px solid #ddd;
  label {
    text-align: center;
    width: 100%
  }
  td {
    padding: 1px !important;
  }
}

.filter-buttons {
  margin-bottom: 10px;
  padding: 1% 1% 5px 1%;
  text-align: center;
  .btn {
    margin-right: 5px;
    margin-left: 5px;
  }
}

.filter-close {
  cursor: pointer;
  float: right;
  margin-top: 5px;
  font-size: 20px;
  color: #444;
  transition: color 0.2s;

  :hover {
    color: red;
  }
}

.interval-picker {
  display: block;
}

.column-control-button {
  position: relative;
  margin-left: 0 !important;
}

.column-control-container {
  z-index: 2;
  position: absolute;
  top: 0;

  display: block;
  padding: 5px;

  line-height: normal;
  font-size: 14px;

  background-color: #EEE;

  white-space: normal;
  color: #000;
  cursor: default;

  border: 1px solid #c1c1c1;

  &-window {
    min-width: 250px;
    max-height: 600px;
    overflow: auto;
  }

  .modal-body {
    padding-top: 5px;

    > .row + .row {
      margin-top: 10px;
    }
  }
}

.column-control-wrap {
  position: relative;
  line-height: 1.5;
  margin-left: 10px;
}

.filter-button-active {
  background-color: #6E9E58 !important;
  color: white !important;
}


.griddle-body {
  margin: 15px auto;

  // !!! нужно избавиться от !important (убрать inline-стили у td и th)
  table {
    border-collapse: separate;
    border-spacing: 2px;
    table-layout: auto !important;
  
    box-shadow: rgba(0,2,4,0.15) 0 1px 6px inset; // хз как сделать тень над background ячеек (td)

    td, th {
      padding: 8px;
      word-break: normal !important;
    }

    thead th {
      color: #272727 !important;
      //white-space: nowrap;

      &[data-title="number"] {
        white-space: nowrap;
      }
    }

    [data-title^="date_"], [data-title="birthday"], [data-title="phone"] {
      width: 130px;
    }

    [data-title^="timestamp_"], [data-title$="_name"] {
      width: 150px;
    }

    [data-title="tk_operation_name"] {
      width: auto;
    }

    tbody {
      
      .griddle-footer{
          background-color: #ffffff !important;
      }
      
      tr {
        cursor: pointer;

        &:nth-child(even) > td {
          background-color: #f7f7f7;
        }

        &.highlighted-row > td {
          background-color: $colorYellow !important;
        }

        &:hover > td {
          background-color: $colorLightGreen !important;
          color: white !important;
        }

        &.selected-row > td {
          background-color: $colorGreen !important;
          color: white !important;
        }
      }

      td {
        vertical-align: top;
        background-color: transparent;
        word-break: break-all;
      }
    }

  }


}

.no-label {
  & label {
    display: none;
  }
}

.pr-object-data {
  display: flex;
  justify-content: space-between;
}

div.none {
  display: none !important;
}

.pagination>li>a, .pagination>li>span {
  border: none !important;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: #6E9E58 !important;
}

.pagination>li:first-child>a, .pagination>li:first-child>span, .pagination>li:last-child>a, .pagination>li:last-child>span {
  border-radius: 0 !important;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
  background-color: rgba(110, 158, 88, 0.4) !important;
  color: #333 !important;
  outline: none !important;
}

.inline-block {
  display: inline-block;
}

.modal-footer>.inline-block {
  display: flex;
  justify-content: flex-end;
}

.modal-dialog {
  margin-bottom: 300px;
}

.faxogramms-date-range {
  display: flex;
  align-items: baseline;
}


.form-control.has-error {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.form-control.has-error:focus {
  border-color: #a94442 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
}

.modal-dialog {
  margin-bottom: 300px;
}

.error {
  color: red;
  font-size: 12px;
  /* text-align: center; */
  margin-top: -10px;
}

.form-control.has-error {
  outline: none !important;
}

.btn-default.btn-xs {
  border-radius: 3px;
  padding: 4px 10px;
}
.odh-generation, .odh-filters {
  .btn-primary, .btn-default {
    margin-top: 24px;
  }
}
.odh-filters {
  .btn-primary, .btn-default {
    display: inline-block;
  }
}

.width120 {
  width: 120px !important;
}
.width150 {
  width: 150px !important;
}
.width200 {
  width: 200px !important;
}
.min-width200 {
  min-width: 200px !important;
}
.min-width250 {
  min-width: 250px !important;
}

.width10-200 {
  width: 200px;
  max-width: 200px !important;
}
.width300 {
  width: 300px !important;
}
.width300justify {
  width: 300px !important;
  text-align: justify !important;
}
.width1000 {
  width: 1000px !important;
}
.width1000justify {
  width: 1000px !important;
  text-align: justify !important;
}
.width60 {
  width: 60px !important;
}
.width25 {
  width: 25px !important;
}

.width30 {
  width: 30px !important;
  word-break: normal !important;
}

.width80 {
  width: 80px !important;
}
.width90 {
  width: 90px !important;
}
.width10 {
  width: 10px !important;
}

.width20 {
  width: 20px !important;
}

.width-nowrap {
  white-space: nowrap !important;
  width: 20px !important;
}

.car-form-image {
  margin: 10px;
  width: 250px;
  min-height: 100px;
}

.help-block-mission-source {
  opacity: 0.5;
  position: relative;
  top: -15px;
}

.assignToWaybillCheck {
  width: 300px;
  text-align: left !important;
  height: 22px;
  margin-right: 20px;

  .form-group {

    display: inline-block;
    margin-left: 30px;
    margin-right: 20px;
  }
}

@media (min-width: 1240px) {
  .modal-lg {
    width: 1240px !important;
  }
}
@media (min-width: 1540px) {
  .modal-lg {
    width: 1440px !important;
  }
}

.text-right-flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.company-structure .griddle-body table tbody {
  & tr.standard-row>td:first-child {
    padding-left: 15px !important;
  }
  & tr:not(:first-child).child-row {
    &> td:first-child {
      padding-left: 30px !important;
    }
    &> td:not(:first-child) {
      padding: 5px !important;
    }
  }
}

.company-structure .griddle-body {
  tbody {
    &:nth-child(even) {
      background-color: #f7f7f7;
    }
   
    tr {
      &.expanded > td {
        background-color: $colorGreen !important;
        color: white !important;
      }
      
      &:nth-of-type(n+2) {
        cursor: pointer;

        &:nth-child(even) > td {
          background-color: #f7f7f7;
        }

        &:hover > td, &.selected-row > td {
          background-color: $colorGreen !important;
          color: white !important;
        }

        &.child-row:hover > td, &.highlighted-row > td {
          background-color: $colorYellow !important;
        }
      }
    }

    td {
      vertical-align: top;
      background-color: transparent;
      word-break: break-all;
    }
  }
}

.action-button {
  &:not(.disabled):not([disabled]):hover, &:focus, &.active {
    background-color: $colorBadge;
    color: #fff;
  }
  & + .action-button {
    margin-left: 10px;
  }

}

.reports-date {
  max-width: 48%;
  & + .reports-date {
    margin-left: 10px;
  }
}

.modal.in .custom-modalTP.modal-dialog {
  top: 50%;
  transform: translateY(-75%);
}

.app-footer {
  height: 30px;
  width: 100%;
  padding: 0 20px;
  background: #292929;
  color: white;
  line-height: 30px;
  min-height: 30px;
  display: flex;
  justify-content: space-between;
  line-height: 30px;
  color: white;
  z-index: 100;

  >div {
    flex: 1 1 0;
  }
  >.container-tp {
    display: flex;
    justify-content: space-around;
  }
  >.container-company {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
  }
  >.container-version {
    display: flex;
    justify-content: flex-end;
    cursor: default;
  }
  >div {
    overflow: hidden;
    height: 30px;
  }
  & .tp {
    color: red;
    font-weight: bold;
    cursor: pointer;
    &.not-red {
      color: white;
    }
  }

}

.griddle:focus {
  outline: none;
}

.half-visible {
  opacity: 0.5;
}

.equipment-fuel-checkbox {
  .form-group {
    display: inline-block;
  }
}

.daily-cleaning-report-period {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  div {
    display: inline-block;
  }
}

.map-view {
  vertical-align: middle !important;
  text-align: center;
  .td-red {
    color: red;
  }
  .glyphicon {
    font-size: 32px;
  }
}

.btn-toolbar {
  margin-left: 5px !important;
}

.cleaning-rate-header {
  position: absolute;
  top: 25px;
  left: 520px;
  z-index: 0;
  button {
    width: 54px;
  }
}

.dropdown-menu > .open.dropdown > .dropdown-menu {
  left: 100%;
  margin-top: -32px;
}

.yellow {
  border-color: #ecd53f;
  background-color: rgba(237, 234, 191, 0.6);
  color: #a79521;
}

.advanced-string-input {
  position: relative;

  .inputs {
    .form-group {
      width: 40%;
      position: absolute;
      top: 0;
      left: 75px;
    }
    .form-group:nth-child(2) {
      left: calc(40% + 60px);
      width: calc(100% - 40% - 60px);
    }
    .form-group:only-child {
      left: 75px;
      width: calc(100% - 75px);
    }
  }
  .datepickers {
    .chart-datepicker {
      width: calc(100% - 75px);
      position: absolute;
      top: 0;
      left: 75px;
      height: 38px;
    }
    .chart-datepicker:nth-child(2) {
      position: relative;
      left: 0;
      width: 100%;
    }
  }
}


.textarea-field textarea{
  resize: vertical;
}

.colorRed {
  color: red;
}

.colorGreen {
  color: green;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.checkbox-print-with-filter {
  margin-top: 10px;
  cursor: pointer;
  &>div {
    display: flex;

    &>span {
      margin: 0 4px;
    }
  }
}

.carinfo-divider {
  margin: 5px;
  position: relative;
}

.checkbox-print-with-filter {
  margin-top: 10px;
  cursor: pointer;
  &>div {
    display: flex;

    &>span {
      margin: 0 4px;
    }
  }
}

.display-none {
  display: none;
}
.colorRed {
  color: red;
}

.colorGreen {
  color: green;
}

.date-label {
  font-weight: 600;
}

.select-date-end-custom {
  min-width: 50px;
}

div.car-movement-time-report {
  >.col-md-6 {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.flex-line-unset {
  display: flex;
  align-items: unset;
}

.font-bold {
  font-weight: bold;
}

.flex-reverse>label {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: baseline;
}

.bold {
  font-weight: 800;
}

.checkbox-input {
  margin: 0 -5px;
  >label {
    margin: 5px;
  }
}

.column_checkbox {
  height: 78px;
  display: flex;
  align-items: center;
}
.rw-calendar-popup .rw-popup-transition {
  padding: 0!important;
}

.data-table .griddle th,
.ets_table_wrap th {
  z-index: 1;
  position: relative;
}

.headerRow{
  z-index: 20;
  position: relative;
}

.taxi-calc-block .ets-table{
  margin-bottom: 15px;
}

.default-boolean-input {
  display: flex;
  align-items: center;
  label {
    margin: 0px;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
  }
  input {
    margin: 0px;
  }
}
.popover {
  z-index: 1000001;
}