@import './vendor.scss';
@import './variables.scss';
@import './data-table.scss';
@import './react-widgets-new.scss';
@import './utils.scss';
@import './reports.scss';
@import './media.scss';
@import './user-notifications.scss';
@import './version-notifications.scss';

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/Roboto-Regular.ttf');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}

html, body {
  height: 100%;
  color: #000;
}

.map_info-title_container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &.geoobject_title>div {
    font-size: 18px;
    text-align: center;

    &:nth-of-type(n+1) {
      margin-right: 5px;
    }
    &::last-child {
      margin-right: 0;
    }
  }

  >div {
    font-size: 24px;
    &.car_info-gov_number {
      display: flex;
      justify-content: center;
      white-space: pre-wrap;
    }
  }
}

.selected_geoobjects-container {
  margin: 5px 0px;
  padding: 5px;
  border-radius: 3px;
  border: 1px solid #7e7e7e;

  .geoobject_one_data {
    &:not(:last-child) {
      border-bottom: 1px solid #d7d7d7;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
    cursor: pointer;
    h5 {
      margin-bottom: 0px;
    }
    >.title {
      margin-top: 5px;
      display: flex;
      justify-content: space-between;
    }
  }
}

.car_info-close {
  display: flex;
  justify-content: flex-end;
  >div {
    cursor: pointer;
    transition: transform 0.5s, background-color 0.5s;
    will-change: transform, background-color;
    >span {
      position: relative;
      transform: translateY(-6%);
    }
    &:hover {
      transform: scale3d(1.1, 1.1, 1);
      background-color: red;
      color: white;
    }
  }
}

.all-width {
  width: 100%;
}

.car_info-attributes {
  font-weight: 200;
  margin: 5px 0;

  >div {
    margin: 5px;
  }
}

.car_info-charts {
  margin-top: 10px;
  .car_info-chart_buttons_row {
    display: flex;
    >button {
      flex: 1 1 auto;
      &:first-child {
        margin-right: 2.5px;
      }
      &:last-child {
        margin-left: 2.5px;
      }
    }
  }
}

.car_info-attr_title {
  color: #666;
}

.chart-select_raw {
  position: relative;
  transform: translate3d(270px, -168px, 0);
  font-weight: 200;
  cursor: pointer;
  >span {
    margin: 5px;
  }
}

.car_info-event_table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 2px;
  margin-bottom: 30px;
  font-weight: 200;
  text-align: center;

  thead {
    background: #555;
    color: white;
    tr {
      td {
        width: 33%;
        padding: 4px;
      }
    }
  }
  tbody {
    td {
      cursor: pointer;
      border-bottom: 1px solid #DDD;
      padding: 4px;
    }
  }
}

button {
  &[disabled=''] {
    .car_info-main_block-button {
      &.inverse {
        color: inherit;
      }
    }
  }
  .car_info-main_block-button  {
    border-radius: 9px;
    padding: 2px;
    margin-right: 5px;
    &.inverse {
      background-color: #eee;
      border: 1px solid #ccc;
      color: #000;
    }
  }
}

.car_info-toggle_for_today {
  cursor: pointer;

  &.disabled {
    color: rgba(0, 0, 0, 0.5);
    cursor: not-allowed;
    pointer-events: none;
  }
}
.car_info-track_date_control {
  padding: 5px 0px;
}

.car_info-distance {
  font-weight: 200;
  padding: 5px 5px;
}

label {
  margin-bottom: 0;
}

.car_info-sensors-list-container {
  padding: 5px;

  .sensors-type-list {
    margin-bottom: 5px;
    .type-title {
      font-weight: 400;
      font-style: italic;
    }
    .sensors-list {
      padding: 5px 20px;
      .sensor-option {
        font-weight: 200;
        cursor: pointer;
        &.disabled {
          cursor: not-allowed;
          color: rgba(0, 0, 0, 0.5);
        }
        >input {
          cursor: inherit;
        }
      }
    }
  }
}

.car_info-sensors_legend {
  display: flex;
  flex-direction: column;
  margin: 5px 0px;
  font-weight: 200;

  .sensors_legeng_option {
    display: flex;
    align-items: center;
    cursor: default;
  }
}

.default_cursor {
  cursor: default;
}

// NOTE Почему-то численное значение, переопределяемое в бутстрапе не делает текст жирным в некоторых браузерах.
h5 {
  font-weight: bold !important;
}

#container {
  width:100%;
  height:100%;
}

a {
  color: $colorLink;
}

body.application {
  background: #f2f2f2;
  padding: 60px 20px 0;
  padding: 0;
  margin: 0;

  > .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }

  div[class^="col-"] {
    padding-left: 5px;
    padding-right: 5px;
  }

  div[class^="col-"] div[class^="col-"] {
    padding-left: 15px;
    padding-right: 15px;
  }

  hr {
    border-color: #d7d7d7;
    margin: 10px 0;
  }
}

.company-switcher {
  width: 250px;

  &-label {
    position: absolute;
    top: 5px;
    font-size: 13px;
  }

  &-big {
    display: flex;
    flex-direction: column;
    margin-top: 200px;
    align-items: center;
    &-label {
      font-size: 20px;
    }

    &>div {
      width: 100%;
      font-size: 20px;
      max-width: 1000px;
    } 
  }

}

.small-table {
  th, td {
    font-size: 12px !important;
    padding: 4px !important;
    word-break: normal !important;
  }
}

.missions-list {
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  &>.mission-data {
    display: flex;
    justify-content: space-between;
    align-items: end;
    &>div {
      width: 95%;
      & .mission-title {
        white-space: nowrap;
        display: block;
        cursor: pointer;
        overflow: hidden;
        text-overflow: ellipsis;
      }
      & .mission-vehicle-info {
        color: #666;
      }
    }
  }
}

.no-pointer-events {
  pointer-events: none !important;
  cursor: default !important;
}

.not-allowed {
  cursor: not-allowed !important;
}

.car_info-track_player {
  padding: 5px 0px;
  >button {
    margin: 5px;
  }
}

.car-info-play-info {
  text-align: left;
  margin-top: 10px;
  padding: 0 5px;
  dt {
    float: left;
    width: 120px;
  }
}

.car_info-missions_list_container {
  padding: 5px;
  display: flex;
  flex-direction: column;
  .car_info_mission_container {
    display: flex;
    justify-content: space-between;
    font-weight: 200;
    margin: 5px 2px;

    .mission_title {
      cursor: pointer;
    }
    .mission_vehicle_info {
      color: #666;
    }
  }
}

.car-toolbar {
  display: flex;
}

.none-event {
  pointer-events: none;
  cursor: default;
}

.tool_bar-wrap {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  .tool_bar {
    position: relative;
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;

    &.info {
      margin: 0px;
    }

    .car_filters-container-wrap {
      position: relative;
      width: 100%;

      .car_filters-container {
        position: absolute;
        display: flex;
        flex-direction: column;
        >span>.tool_bar-block {
          min-width: 0px;
          max-width: 310px;
        }
      }
    }

    .tool_bar-block {
      margin: 5px;
      pointer-events: all;
      display: inline-block;
      min-width: 175px;

      &.disabled {
        .legen_option, input { 
          cursor: not-allowed;
        }
        cursor: not-allowed;
      }
      &.active>.default_cube {
        background-color: #6a9e56;
        color: white;
      }

      .default_cube {
        background: rgba(0, 0, 0, 0.75);
        border: 2px solid black;
        color: white;
        box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.3);
        border-radius: 6px;
        padding: 6px 1pc;
        font-weight: 200;

        &.companies {
          padding: 6px 0 6px 1pc;
          >.legen_option {
            padding-right: 1pc;
          }
          >.car_block_legend>.legen_option {
            padding-right: 1pc;
          }
        }

        &.map-car-filter {
          &>div {
            min-height: 48px;
          }
          padding: 0;

          .car_text_filter-container {
            display: flex;
            align-items: center;
            &.multi>div {
              min-width: 250px;
              &>*:nth-of-type(n + 2) {
                margin-top: 5px;
              }
            }
            .input_text_action-wrap {
              position: relative;
              color: black;
              .input_text_action {
                position: absolute;
                display: flex;
                align-items: baseline;
                background-color: white;
                padding: 5px;
                cursor: pointer;
                &.show_tc {
                  transform: translate(-130%, -50%);
                  min-width: 93px;
                  background: transparent;
                }
                &.remove {
                  transform: translate(-110%, -50%);
                  min-width: 29px;
                }
                >*:nth-child(n + 2) {
                  margin-left: 5px;
                }
              }

            }
          }

          >div.button-toggle {
            min-width: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 10px;
            cursor: pointer;
            font-size: 20px;
            >.glyphicon{
              line-height: 48px;
            }
          }
        }

        &.flex-row {
          display: flex;
          align-items: center;
          &.multi {
            align-items: end;

            >div:nth-child(n + 2) {
              padding: 10px 0px;
            }
          }
          >div:nth-child(n + 2) {
            margin-right: 10px;
            padding: 5px 0px;
          }
          .form-group {
            margin: 0;
            width: 250px;
          }
        }
      }
    }
  }
}

.car_block_legend {

  &.left {
    margin-left: 5px;
  }
  
  &.fuel_leak {
    max-width: 300px;

    >div {
      display: flex;
      margin: 5px;
      align-items: center;

      >span {
        flex: 1 1 25px;
      }
      >div {
        flex: 8 1 auto;
      }
    }
  }

  &.companies {
    max-width: 300px;
    max-height: 150px;
    overflow-y: auto;
  }
}

.legen_option {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 2px 0;
  font-size: small;

  &.not_allow {
    cursor: text;
  }

  &.off {
    opacity: 0.5;
  }

  &.with_checkbox {
    >input {
      cursor: pointer;
      margin: 0 8px;
    }
  }

  .car_data-color {
    width: 20px;
    height: 20px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 0 5px;

    &.line {
      border-radius: 0;
    }
    &.active {
      background-color: white;
    }
    &.in_move {
      background-color: #2ECC40;
    }
    &.stop {
      background-color: #563d7c;

    }
    &.parking {
      background-color: #f34b7d;
    }
    &.not_in_touch {
      background-color: #888888;
    }

    &.track_red {
      background-color: #f03;

    }
    &.track_green {
      background-color: #6c0;
    }

    &.geoobject_un_select {
      background-color: darkviolet;
    }

    &.geoobject_select {
      background-color: yellow;
    }

    &.geoobject_mission_select {
      background-color: #e67e22;
    }
  }
}

.form-control {
  height: 38px;
}

/**
  CHART
*/


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

/**
* TRACKING BTN ANIMATION
**/

.car-info {
  &-image {
    width: 250px;
    min-height: 100px;
  }
}

/** OPENLAYERS */
.openlayers-container {
  width:100%;
  height:100%;
  position:absolute;
}

.ol-zoom, .ol-zoom:hover {
  background: rgba(0, 0, 0, 0.75);;
  color: white;
  box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.3);
  border-radius: 6px;
  top: -74px;
  width: 28px;
  position: relative;
  left: 20px;

  button {
    background-color: transparent;
  }
}

/** ETS TABLE */

.some-header {
  font-size: 18px;
  line-height: 40px;
}

.waybills-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  font-size: 14px;

  >* {
    margin-left: 10px;
    margin-bottom: 10px;
  }
}

.modal-content {
  border-radius: 0;
}

.modal-footer {
  background-color: #f1f1f1;
  border: none;

  >.inline-block {
    display: flex;
    justify-content: flex-end;
  }
}

.form-control[disabled] {
  background-color: #f8f8f8;
}

.form-control {
  border-radius:0px !important;
  overflow: visible;
}

.taxi-calc-block  {
  margin-bottom: 50px;
  .form-group {
    margin-bottom: 0;
  }

  .taxes-result {
    float: right;
    div {
      display: inline-block;
      font-weight: bold;
    }
    .taxes-result-label {
      width: 180px;

      &-positive {
        color: green;
      }

      &-negative {
        color: red;
      }
    }
    .taxes-result-value {
      min-width: 91px;
    }

  }
}

.pointer {
  cursor: pointer;
}
.fontSize24 {
  font-size: 24px;
}

.pagination {
  margin: 20px 0 0 0 !important;
}

.griddle-container {
  thead {
    span.glyphicon.glyphicon-info-sign {
      margin-left: 5px;
    }
  }
}

.filter-container {
  line-height: normal;
  margin-top: 10px;
  width: 100%;
  font-size: 14px;
  background-color: #eee;
  border: 1px solid #ddd;
  label {
    text-align: center;
    width: 100%;
    margin: 5px 0;
  }
  td {
    padding: 1px !important;
  }
}

.filter-buttons {
  padding: 1% 1% 5px 1%;
  text-align: center;
}

.filter-close {
  cursor: pointer;
  float: right;
  margin-top: 5px;
  font-size: 20px;
  color: #444;
  transition: color 0.2s;

  :hover {
    color: red;
  }
}

.interval-picker {
  display: block;
}

.filter-button-active {
  background-color: #6E9E58 !important;
  color: white !important;
}


.griddle-body {
  margin: 15px auto;

  // !!! нужно избавиться от !important (убрать inline-стили у td и th)
  table {
    border-collapse: separate;
    border-spacing: 2px;
    table-layout: auto !important;
  
    box-shadow: rgba(0,2,4,0.15) 0 1px 6px inset; // хз как сделать тень над background ячеек (td)

    td, th {
      padding: 8px;
      word-break: normal !important;
    }

    thead th {
      color: #272727 !important;
      //white-space: nowrap;

      &[data-title="number"] {
        white-space: nowrap;
      }
    }

    [data-title^="date_"], [data-title="birthday"], [data-title="phone"] {
      width: 130px;
    }

    [data-title^="timestamp_"], [data-title$="_name"] {
      width: 150px;
    }

    [data-title="tk_operation_name"] {
      width: auto;
    }

    tbody {
      
      .griddle-footer{
          background-color: #ffffff !important;
      }
      
      tr {
        cursor: pointer;

        &:nth-child(even) > td {
          background-color: #f7f7f7;
        }

        &.highlighted-row > td {
          background-color: $colorYellow !important;
        }

        &:hover > td {
          background-color: $colorLightGreen !important;
          color: white !important;
        }
        .form-group {
          margin-bottom: 0px;
        }
        .error { // inputTable error
          margin-top: 0px;
          border-radius: 0 0 3px 3px;
          margin-top: 0px;
          padding: 2px;
          border-radius: 0 0 3px 3px;
          background: #a94442;
          color: white;
          padding-left: 5px;
        }
        .chart-datepicker .rw-widget-picker.rw-widget-container{
          height: 32px!important;
        }
        .rw-select-bordered button {
          height: 32px!important;
        }
        &.selected-row > td {
          background-color: $colorGreen !important;
          color: white !important;
          .form-group {
            margin-bottom: 0px;
          }
        }
      }

      td {
        vertical-align: top;
        background-color: transparent;
        word-break: break-all;
      }
    }

  }


}

.no-label {
  & label {
    display: none;
  }
}

.pr-object-data {
  display: flex;
  justify-content: space-between;
}

.pagination>li>a, .pagination>li>span {
  border: none !important;
}

.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
  background-color: #6E9E58 !important;
}

.pagination>li:first-child>a, .pagination>li:first-child>span, .pagination>li:last-child>a, .pagination>li:last-child>span {
  border-radius: 0 !important;
}

.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
  background-color: rgba(110, 158, 88, 0.4) !important;
  color: #333 !important;
  outline: none !important;
}

.inline-block {
  display: inline-block;
}

.faxogramms-date-range {
  display: flex;
  align-items: baseline;
}


.form-control.has-error {
  border-color: #a94442;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.form-control.has-error:focus {
  border-color: #a94442 !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075) !important;
}

.error {
  color: #a94442;
  font-size: 12px;
  /* text-align: center; */
  margin-top: -10px;
  transition: background-color .3s ease, color .3s ease;
}

.form-control.has-error {
  outline: none !important;
}

.width120 {
  width: 120px !important;
}
.width150 {
  width: 150px !important;
}
.width200 {
  width: 200px !important;
}

.width300 {
  width: 300px !important;
}
.width60 {
  width: 60px !important;
}
.width25 {
  width: 25px !important;
}

.width30 {
  width: 30px !important;
  word-break: normal !important;
}

.width80 {
  width: 80px !important;
}

.car-form-image {
  margin: 10px;
  width: 250px;
  min-height: 100px;
}

.help-block-mission-source {
  opacity: 0.5;
  position: relative;
  top: -15px;
}

.assignToWaybillCheck {
  width: 300px;
  text-align: left !important;
  height: 22px;
  margin-right: 20px;

  .form-group {

    display: inline-block;
    margin-left: 30px;
    margin-right: 20px;
  }
}

.text-right-flex {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-wrap: wrap;
}

.reports-date {
  // max-width: 48%;
  max-width: 192px;
}

.griddle:focus {
  outline: none;
}

.daily-cleaning-report-period {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  div {
    display: inline-block;
  }
}

.map-view {
  vertical-align: middle !important;
  text-align: center;
  .td-red {
    color: red;
  }
  .glyphicon {
    font-size: 32px;
  }
}

.btn-toolbar {
  margin-left: 5px !important;
}

.yellow {
  border-color: #ecd53f;
  background-color: rgba(237, 234, 191, 0.6);
  color: #a79521;
}
.width115 {
  width: 115px;
}
.advanced-string-input {
  position: relative;
  .inputs {
    .form-group {
      width: 40%;
      position: absolute;
      top: 0;
      left: 118px;
    }
    .form-group:nth-child(2) {
      left: calc(40% + 60px);
      width: calc(100% - 40% - 60px);
    }
    .form-group:only-child {
      left: 118px;
      width: calc(100% - 118px);
    }
  }
  .datepickers {
    .chart-datepicker {
      width: calc(100% - 75px);
      position: absolute;
      top: 0;
      left: 75px;
      height: 38px;
    }
    .chart-datepicker:nth-child(2) {
      position: relative;
      left: 0;
      width: 100%;
    }
  }
}


.textarea-field textarea{
  resize: vertical;
}


.colorGreen {
  color: green;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.checkbox-print-with-filter {
  margin-top: 10px;
  cursor: pointer;
  &>div {
    display: flex;

    &>span {
      margin: 0 4px;
    }
  }
}

.carinfo-divider {
  margin: 5px;
  position: relative;
}

.checkbox-print-with-filter {
  margin-top: 10px;
  cursor: pointer;
  &>div {
    display: flex;

    &>span {
      margin: 0 4px;
    }
  }
}

.display-none {
  display: none;
}

.colorGreen {
  color: green;
}

div.car-movement-time-report {
  >.col-md-6 {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.flex-line-unset {
  display: flex;
  align-items: unset;
}

.font-bold {
  font-weight: bold;
}

.flex-reverse>label {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  align-items: baseline;
}

.bold {
  font-weight: 800;
}

.checkbox-input {
  input {
    margin: 5px;
  }
}

.column_checkbox {
  height: 78px;
  display: flex;
  align-items: center;
}
.rw-calendar-popup .rw-popup-transition {
  padding: 0!important;
}

.headerRow{
  position: relative;
}

.default-boolean-input {
  display: flex;
  align-items: center;
  label {
    margin: 0px;
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
  }
  input {
    margin: 0px 5px;
  }
}
.popover {
  z-index: 1000001;
}

*::-webkit-scrollbar {
  width: 10px;
}
/* Track */
*::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}
/* Handle */
*::-webkit-scrollbar-thumb {
  background: #c1c1c18f;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.17);
}
/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #c1c1c1;
  opacity: 1;
}

.rw-select-bordered {
  border-left: none;
  position: relative;
  padding: 0px;
  &:before {
    content: '';
    position: absolute;
    background-color: hsl(0,0%,80%);
    top: 6px;
    width: 1px;
    height: 24px;
    display: block;
  }
  &:hover, &:active {
    background: inherit;
  }
  button {
    height: 38px!important;
    &:hover {
      background: #e6e6e6;
    }
  }
}
