.map-filter__input {
  input {
    text-overflow: clip;
  }
  ul > li {
    max-width: 300px;
    span {
      white-space: normal;
      font-size: 14px;
    }
  }
}

/**
 * @override
 */
.ol-popup-content {
  max-height: none !important;
}

.ol-control.ol-measure{
  bottom:21px;
  left: 70px;
  display: flex;
  cursor: pointer;

  .draw-point{
    background-image: url('images/ruler.png');
    background-size: cover;
    width: 30px;
    height: 30px;
  }

  .rempove-step{
    background-color: #231f20;
    border-radius: 5px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

    span{
      position: relative;
      top: -1px;
      color: white;
    }
  }
}

.tooltip {
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  color: white;
  padding: 4px 8px;
  opacity: 0.7;
  white-space: nowrap;
}
.tooltip-measure {
  opacity: 1;
  font-weight: bold;
}
.tooltip-static {
  background-color: #ffcc33;
  color: black;
  border: 1px solid white;
}
.tooltip-measure:before,
.tooltip-static:before {
  border-top: 6px solid rgba(0, 0, 0, 0.5);
  border-right: 6px solid transparent;
  border-left: 6px solid transparent;
  content: "";
  position: absolute;
  bottom: -6px;
  margin-left: -7px;
  left: 50%;
}
.tooltip-static:before {
  border-top-color: #ffcc33;
}
