.chart-datepicker {
  .rw-widget-picker.rw-widget-container {
    height: 38px;
  }
  .rw-select>button {
    height: auto;
  }
  .rw-widget-picker {
    border-radius: 0px;
    border-width: 1.3px; // привет IE если зумить, то бордер не рендеоится
  }
  &.has-error {
    .rw-widget-container {
      border-color: #e26240;
    }
  }
  &.rw-state-focus>.rw-widget-picker.rw-widget-container {
    box-shadow: none;
    .rw-widget-picker {
      border-color: rgb(81, 180, 255);
    }
  }
}
