.chart-datepicker {
  .rw-select>button {
    height: auto;
  }
  &.rw-state-focus>.rw-widget-picker.rw-widget-container {
    box-shadow: none;
  }
  .rw-widget-picker {
    border-radius: 0px;
    input {
      border-left: #ccc 1px solid;
      border-top: #ccc 1px solid;
      border-bottom: #ccc 1px solid;
    }
  }
  &.has-error>.rw-widget-picker.rw-widget-container {
    border-color: red;
    >input {
      border-left: red 1px solid;
      border-top: red 1px solid;
      border-bottom: red 1px solid;
    }
  }
}