$colorLink: #0081d6;
$colorGreen: #6a9e56;
$colorLightGreen: #96bb88;
$colorHalfGreen: #a7ce98;
$colorBadge: #4b4b4b;
$colorButton: #4c4c4c;
$colorGray: #9b9b9b;
$colorYellow: #c0e1f6;

$navbarHeight: 64px;
$navbarPaddingA: 22px;
